body {
    font-family: "Amiri", "Noto Naskh Arabic", serif;
  }
  
  .title,
  .mini-head {
    font-family: "Amiri", "Noto Naskh Arabic", serif;
  }
  
  .verse-text {
    font-family: "Amiri", "Noto Naskh Arabic", serif;
  }
  