@font-face {
  font-family: "coptic";
  src: url("/fonts/coptic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: 'CopticForAll';
  src: url('/fonts/copticforall.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
    font-family: "Amiri", "Noto Naskh Arabic", serif;
  }
  
  .title,
  .mini-head {
    font-family: "Amiri", "Noto Naskh Arabic", serif;
  }
  
  .verse-text {
    font-family: "Amiri", "Noto Naskh Arabic", serif;
  }
  .coptic-word {
    font-size: 32px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  